<div class="col-md-12" ng-controller="CustomersListController">

	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
				<h2 id="container">CUSTOMERS</h2>
			</div>
		</div>
	</div>


	<div>
		
		<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

		<table class="table">
			<thead>
				<tr>
					<th>
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Filter By Name" ng-model="filters.name" ng-change="getListCustomers()">
						<br/>
						Name
					</th>
					<th>
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Filter By Address" ng-model="filters.address" ng-change="getListCustomers()">
						<br/>
						Address
					</th>
					<th>
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Filter By State" ng-model="filters.state" ng-change="getListCustomers()">
						<br/>
						State
					</th>
					<th>
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Filter By Country" ng-model="filters.country" ng-change="getListCustomers()">
						<br/>
						Country
					</th>
					<th>
						<button type="submit" class="btn btn-success" ng-click="new()">New Customer</button><br/><br/>
						Actions
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat = "customer in customers">
					<td>{{customer.name}}</td>
					<td>{{customer.address}}</td>
					<td>{{customer.state}}</td>
					<td>{{customer.country}}</td>
					<td>
						<div class="button-actions">
							<button type="button" class="btn btn-default" title="View" ng-click="view(customer)">
								<span class="glyphicon glyphicon-eye-open"></span>
							</button>
							<button type="button" class="btn btn-default" title="Edit" ng-click="edit(customer)">
								<span class="glyphicon glyphicon-edit"></span>
							</button>
							<button type="button" class="btn btn-default" title="Remove" ng-click="delete(customer)">
								<span class="glyphicon glyphicon-remove-circle"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>

		</table>
	</div>

	<pagination items-per-page="itemsPerPage" total-items="customers.count" page="currentPage" on-select-page="selectPage(page)"></pagination>

	<br/>
	# Customers: {{customers.count}}<br/>



</div>
