<div class="col-md-12" ng-controller="ProductsListController">

	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
				<h2 id="container">PRODUCTS</h2>
			</div>
		</div>
	</div>


	<div>
		
		<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

		<table class="table">
			<thead>
				<tr>
					<th>
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Filter By Description" ng-model="filters.description" ng-change="getListProducts()">
						<br/>
						Description
					</th>
					<th>
						Price
					</th>
					<th>
						<button type="submit" class="btn btn-success" ng-click="new()">New Product</button><br/><br/>
						Actions
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat = "product in products">
					<td>{{product.description}}</td>
					<td>{{product.price}}</td>
					<td>
						<div class="button-actions">
							<button type="button" class="btn btn-default" title="View" ng-click="view(product)">
								<span class="glyphicon glyphicon-eye-open"></span>
							</button>
							<button type="button" class="btn btn-default" title="Edit" ng-click="edit(product)">
								<span class="glyphicon glyphicon-edit"></span>
							</button>
							<button type="button" class="btn btn-default" title="Remove" ng-click="delete(product)">
								<span class="glyphicon glyphicon-remove-circle"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>

		</table>
	</div>

	<pagination items-per-page="itemsPerPage" total-items="products.count" page="currentPage" on-select-page="selectPage(page)"></pagination>

	<br/>
	# Products: {{products.count}}<br/>



</div>
