<div class="col-md-12" ng-controller="SalesListController">

	<H2>SALES ORDERS</H2>
	
	<div>
		
		<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>


		<table class="table">
			<thead>
				<tr>
					<th>
						#
					</th>
					<th>
						Sales Date
					</th>
					<th>
						Customer
					</th>
					<th>
						Product
					</th>
					<th>
						Quantity
					</th>
					<th>
						Price
					</th>
					<th>
						Amount
					</th>
					<th>
						State
					</th>
					<th>
						<button type="submit" class="btn btn-success" ng-click="new()">New Sales Order</button><br/><br/>
						Actions
					</th>
				</tr>
			</thead>
			<tbody ng-repeat = "sale in sales">
				<tr ng-repeat = "saleLine in sale.lines">
					<td>{{sale._id}}</td>
					<td>{{sale.created | date: 'dd/MM/yyyy'}}</td>
					<td>{{sale.customer.name}}</td>
					<td>{{saleLine.product.description}}</td>
					<td>{{saleLine.quantity}}</td>
					<td>{{saleLine.price}}</td>
					<td>{{sale.amount}}</td>
					<td>{{sale.state}}</td>
					<td>
						<div style="width: 150px">
						<button type="button" class="btn btn-default" title="View" ng-click="view(sale)">
							<span class="glyphicon glyphicon-eye-open"></span>
						</button>
						<button type="button" class="btn btn-default" title="Edit" ng-click="edit(sale)">
							<span class="glyphicon glyphicon-edit"></span>
						</button>
						<button type="button" class="btn btn-default" title="Remove" ng-click="delete(sale)">
							<span class="glyphicon glyphicon-remove-circle"></span>
						</button>
						</div>
					</td>
				</tr>
			</tbody>

		</table>		

		<!--
		<table class="table">
			<thead>
				<tr>
					<th>
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Filter By Description" ng-model="filters.description">
						<br/>
						Description
					</th>
					<th>
						Price
					</th>
					<th>
						<button type="submit" class="btn btn-success" ng-click="new()">New Product</button><br/><br/>
						Actions
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat = "product in products">
					<td>{{product.description}}</td>
					<td>{{product.price}}</td>
					<td>
						<div style="width: 150px">
						<button type="button" class="btn btn-default" title="View" ng-click="view(product)">
							<span class="glyphicon glyphicon-eye-open"></span>
						</button>
						<button type="button" class="btn btn-default" title="Edit" ng-click="edit(product)">
							<span class="glyphicon glyphicon-edit"></span>
						</button>
						<button type="button" class="btn btn-default" title="Remove" ng-click="delete(product)">
							<span class="glyphicon glyphicon-remove-circle"></span>
						</button>
						</div>
					</td>
				</tr>
			</tbody>

		</table>
		
		-->

	</div>


	<!--
	<pagination items-per-page="itemsPerPage" total-items="products.count" page="currentPage" on-select-page="selectPage(page)"></pagination>

	<br/>
	# Products: {{products.count}}<br/>
	-->


  
</div>
